
      .scriptsize {
          font-size: 70%;
      }

      tr.topline td {
        border-top: thin solid black;
      }

      tr.bottomline td {
        border-bottom: thin solid black;
      }

      .aside {
        padding: 0px 20px 10px 20px;
        margin: 25px;
        border: thin black solid;
      }

      .note {
        padding: 0px 20px 5px 20px;
        border-left: thin black solid;
      }

      .code {
        font-size: larger;
        overflow-wrap: break-word;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        display: inline;
      }

      pre {
        font-size: smaller;
        overflow-wrap: break-word;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens: none;
      }

      .glossaryname {
        font-weight: bold;
      }

      .rm {
        font-family: serif;
      }

      .textbf {
        font-weight: bold;
      }

      .literal {
        color: rgb(205, 123, 0); /* orange */
        display: inline;
      }

      .typename {
        color: rgb(103, 0, 154); /* purple */
        display: inline;
      }

      .vem {
        color: rgb(0, 0, 230); /* blue */
        display: inline;
      }

      .quotedstring {
        color: rgb(205, 123, 0); /* orange */
        display: inline;
      }

      .comment {
        color: rgb(76, 76, 76); /* gray .3 */
        display: inline;
      }

      .output {
        color: rgb(90, 0, 0); /* red */
        display: inline;
      }
    
      .textit {
        font-style: italic;
      }

      .floatright {
        float: right;
      }

      .large {
        font-size: large;
        display: inline;
      }

